<li class="nav-item no-arrow mx-1">
    <a class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user fa-2x"></i>
    </a>
</li>
<li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">@(User.FindFirst(q=>q.Type=="name").Value)</span>
    </a>
    <!-- Dropdown - User Information -->
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="#">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Profil Bilgileri
        </a>
        <a class="dropdown-item" href="#">
            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
            Ayarlar
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Çıkış
        </a>
    </div>
</li>
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Çıkmak istediğinize emin misiniz ?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Çık butonuna basarak oturumunuzu kapatabilirsiniz.</div>
            <div class="modal-footer">
                <button class="btn btn-dark" type="button" data-dismiss="modal">İptal</button>
                <form asp-action="LogOut" method="post" asp-controller="Home" autocomplete="off">
                    <button type="submit" class="btn btn-danger">Çık</button>
                </form>
            </div>
        </div>
    </div>
</div>