@{
    Layout = "_AdminLayout";
}
@using Core.Enumarations

<title>Gelir/Gider İşlemleri</title>
<script src="~/jQueryDataTable/jquery.dataTables.min.js"></script>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Gelir/Gider İşlemleri</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Müşteri Ad:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>