@model HaxTextile.WebAppCore.Models.Customer.CreateOrUpdateCustomerViewModel

<label>@Model.MethodType</label>
<form asp-action="@(Model.MethodType)" asp-controller="Customer">
    <h1>Hello</h1>
</form>