@{
    Layout = "_AdminLayout";
}
@model HaxTextile.WebAppCore.Models.Customer.CreateOrUpdateCustomerViewModel
<title>Müşteri Güncelle</title>
<style>
    .breadcrumb {
        background-color: #f8f9fc;
    }
</style>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Customer">Müşteri İşlemleri</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb-item active" aria-current="page">Yeni Müşteri</a></li>
    </ol>
</nav>
@{await Html.RenderPartialAsync("Partial/_CreateOrUpdate", Model); }
